.pie-depagina {
    background-color: #F35821;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    padding: 20px;
}
.footer-links a {
    text-decoration: none;
    color: white;
    margin-right: 20px;
}

.social-icons a {
    display: inline-block;
    margin-right: 10px;
}

.social-icons img {
    width: 20px;
    height: 20px;
}
.pie-depagina ul {
    list-style-type: none;
}

.pie-depagina li {
    display: inline;
    margin-right: 20px;
}

.pie-depagina a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}
